@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Open+Sans&display=swap');

body {
    font-family:'Open Sans', sans-serif;
}

.portfolio-header nav {
    padding:calc(1rem + 1vw);
}

.btn-secondary,.btn-primary {
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--color-light);
    color:var(--color-dark);
    border:2px solid var(--secondary-color);
}
.portfolio-banner-img img {
    max-width: 100%;
}

@media only screen and (max-width:575px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-sm-6 {
        text-align: center;
    }
}