@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family:'Open Sans', sans-serif;
}

.portfolio-header nav {
    padding:calc(1rem + 1vw);
}

.btn-secondary,.btn-primary {
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--color-light);
    color:var(--color-dark);
    border:2px solid var(--secondary-color);
}
.portfolio--header-banner-img img {
    max-width: 100%;
}

.portfolio--header {
    background-image: url('../images/header_bg.png'),url('../images/developer-bg.png');
    background-repeat: no-repeat,no-repeat;
    background-position: right bottom, left top;
    background-size:contain, contain;
    background-color: var(--primary-color);
    
}

.portfolio--header-navbar-logo  {
    font-family: 'Mynerve', cursive;
    font-size:3rem;
    font-weight:900;
    text-shadow: 0.8rem 0.2rem 0.6rem rgb(171, 128, 170);
    font-style: oblique;
}

.portfolio--header-navbar-main-menu {
    list-style-type: none;
    margin:0px;
}

.portfolio--header-navbar-open-menu {
    display:none;
}

.fa-bars {
    font-size: 2.5rem;
}

.portfolio--header-navbar-close-menu {
    display:none;
}

.portfolio--header-navbar-main-menu-link {
    padding:1.5rem;
}

.btn-link {
    padding:1rem;
}

.fa-circle-xmark {
    font-size:3rem;
    color:var(--color-danger);
}
.orng-txt {
    color:var(--secondary-color)
}

.portfolio--main-info , .portfolio--main-skill{
    max-width: 1200px;
    margin:2rem auto;
    background-color: var(--primary-color);
    padding:1rem;
    border-radius: 2rem;

}

.portfolio-info-box {
    margin:1rem 0;
}
.portfolio-skill {
    background-color: var(--color-light-dark);
}

.portfolio--main-skill-card {
    background-color: var(--color-light);
    border:none;
    border-radius: 2rem;
}

.portfolio--main-summary {
    max-width: 1200px;
    margin:2rem auto;
}

.portfolio--main-summary-box {
    border-bottom:2px solid var(--color-light-dark);
}

.portfolio--footer {
    margin:2rem auto;
}

.portfolio--footer-input {
    border:none;
    width:80%;
    font-size: 1.25rem;
    outline:none;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 800px){
    .portfolio--header-navbar-main-menu {
        flex-direction: column;
        align-items: center;
        height:100vh;
        position:fixed;
        top:-100%;
        left:0;
        right:0;
        justify-content: center;
        background-color: rgba(33, 31, 31, 0.85);
        display:'flex';
        transition:top 1s ease;
    }

    .portfolio--header-navbar-main-menu-link, .btn-link button  {
        color:white;
        font-size:1.875rem;
    }
   
    .btn-link {
        padding:0.5rem;
    }

    .portfolio--header-navbar-open-menu {
        display:block;
    }

    .portfolio--header-navbar-close-menu {
        position:fixed;
        top:1rem;
        right:1rem;
    }
}

@media only screen and (max-width:575px){
    .portfolio--main-info-box {
        text-align: center;
    }
}

@media only screen and (min-width:992px){
    .portfolio--main-skill-card {
        width:20%;
    }
}