* {
    margin:0px;
}

.portfolio-header {
    background-image: url('../images/header_bg.png'),url('../images/developer-bg.png');
    background-repeat: no-repeat,no-repeat;
    background-position: right bottom, left top;
    background-size:contain, contain;
}

.orng-txt {
    color:var(--secondary-color)
}